{% for room in rooms %}
<h2>
    {% if room.host and room.host.id %}
    <a href="{% url 'user_profile' room.host.id %}">@{{ room.host.username }}</a>
  {% else %}
    <span>@Unknown</span>
  {% endif %}
</h2>
{% if request.user == room.host %}
<a href="{% url 'update_room' room.id %}"> Edit</a>
<a href="{% url 'delete_room' room.id %}"> Delete</a>
{% endif %}
<p>
  Room ID--{{room.id}} and the room name is,<a
    href="{% url 'room_details' room.id %}"
  >
    {{room.name}}
  </a>
</p>
<small>{{room.topic.name}}</small>
{%endfor%}
